# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

* List of popular languages for Data Science
* Some arithmetic examples
* List of popular libraries for Data Science

## Author
Laura Jimenez Alonso

Some of the popular languages that Data Scientists use are:

* Python
* R
* SQL
* Java
* Julia

Some of the commonly used libraries used by Data Scientists include:

* NumPy
* Pandas
* Matbotlib
* Seaborn
* TensorFlow

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335